<!DOCTYPE html>
<html>
    <head>
    </head>
    <center>
    <body>
        <h2>Sing up</h2>
        <p>This is a simple form with two input fields.</p>
    </body>

    
    <form action="/registrati">
        <label for="Email">Email:</label><br>
        <input type="email" id="fname" name="posta"><br>
        <label for="Codicefiscale">Codice fiscale:</label><br>
        <input type="codicefiscale" id="lname" name="codfisc"><br>
        <label for="Password">Password:</label><br>
        <input type="password" id="tname" name="pass"><br>
        <input type="submit" value="Submit">
      </form> 
    </center>
    
</html>